body {
    font-family: 'Monserrat', sans-serif;
    font-size: 1em;
    height:100vh;
    width: 100vw;
    text-align: center;
}

h1 {
    background-color:green ;
    width:fit-content;
    border: solid thick black;
    margin-left: auto;
    margin-right: auto;
}

img {  
    display: block;  
    margin-left: auto;  
    margin-right: auto;
    border-style:groove;
    border-width: 5px;
    } 

.premierparagraphe {
    text-decoration: underline;
}

.dernierparagraphe {
    padding: 5px;
    border: solid green;
    width:fit-content;
    margin-left:auto;
    margin-right: auto;
}

a {
    color:green;
    font-size: x-large;
}
